# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# Environment files
.env
.venv/
venv/
ENV/

# macOS
.DS_Store

# VS Code
.vscode/

# SQLite
*.db
*.sqlite3

# Logs
*.log
